<!DOCTYPE html>
<html>
    <head>
        <script src="{{url_for('static', filename='dist/admin.js')}}" type="module"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/admin.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>Onefile</h1>
            <nav class="nav-container">
                <button class="nav-button">Files</button>
                <button class="nav-button">Users</button>
                <button class="nav-button">Stats</button>
                <button class="nav-button" style="float: right">Logout</button>
                <button class="nav-button" style="float: right">Settings</button>
            </nav>
        </header>
        <h2>Quick Summary</h2>
        <div class="summary">
            <canvas id="myChart">
            </canvas>
        </div>
    </body>
</html>
