<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

        <!-- Playright Norge -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="topbar">
            <h1>
                Onefile
            </h1> 
        </header>
        <div class="login">
            <form method="POST" action="/login"> 
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
