<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
        <script src="{{url_for('static', filename='scripts/login.js')}}"></script>

        <!-- Playright Norge -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <form method="POST" action="/login"> 
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input class="sumbitbutton" type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
