@font-face {
    font-family: 'SF-Pro';
    src: url('fonts/SF-Pro-Display-Regular.otf')
}


* {
    font-family: 'SF-Pro';
    font-size: 26px;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input { 
    padding: 5px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
}

