@font-face {
    font-family: 'SF-Pro';
    src: url('fonts/SF-Pro-Display-Regular.otf')
}

* {
    font-family: 'SF-Pro';
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
}

form {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

input { 
    font-size: 26px;
    padding: 5px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
}

div.wrong-creds {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: #EA526F;
    color: white;
    border-radius: 10px;
    outline: 2px solid #912F40;
    outline-offset: -5px;
    font-size: 20px;
    visibility: collapse;
    opacity: 0;
    
    transition: opacity 0.2s linear;
}


