@font-face {
    font-family: 'SF-Pro';
    src: url('fonts/SF-Pro-Display-Regular.otf')
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'SF-Pro';
    background-color: #343633;
}

.topbar {
    color: white;
    border-bottom: 2px solid white;
    margin: 0px 20px;
    text-align: center;
    padding-bottom: 10px;
}

.topbar h1 {
    font-family: "Playwrite NO", cursive, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-shadow: 0px 0px 10px #7cc6fe;
}


div.login {
    width: 30%;
    height: 60vh;
    margin: auto;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    margin: 20px;
}
