@font-face {
    font-family: 'SF-Pro';
    src: url('fonts/SF-Pro-Display-Regular.otf')
}

* {
    font-family: 'SF-Pro';
    margin: 0;
    padding: 0;
}

body {
   height: 100vh; 
}

h1 {
    font-size: 60px;
    padding: 1% 2%
}

header {
    border-bottom: 2px solid black;
}

h2 {
    font-size: 40px;
    margin: 1%;
}

h3 {
    font-size: 30px;
    margin: 1%;
}

span {
    color: dodgerblue;
    font-style: italic;
}

#files {

    width: 50%;
    max-height: 60%;
    height: fit-content;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;

    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    overflow: auto;
    gap: 0;
}

div.file-container {
    width: 125px;
    height: 150px;
    color: black;
    text-align: center;
    font-size: 18px;
    overflow-wrap: break-word;
    margin: 10px;
}

div.file-container img {
    width: 100%;
    margin: auto;
}

div.file-container a:hover {
    filter: brightness(75%);
    color: gray;
}

button.logout {
    position: relative;
    top: 10px;
    float: right;
    padding: 10px;
    font-size: 30px;
}
